<div class="header-content">
    <div class="head_goods_feture">
        <img class="img_left" src="/statics/lib/img/line_left_acdd092.svg">
        <span>案例</span>
        <img class="img_right" src="/statics/lib/img/line_right_f9d7183.svg">
    </div>
    <div class="header-content-empty margin-top-50 margin-bottom-50">
        <div class="item">
            <div class="item-img margin-right-50 pull-left">
                <img src="/lib/img/hulk320+320.png" />
            </div>
            <div class="item-text pull-left padding-top-30">
                <div class="item-text-title">
                    Hulk－智能仓储系统
                </div>
                <div class="item-text-subtitle margin-bottom-25">
                    货主的贴心管家，商品的银行服务
                </div>
                <div class="item-text-content">
                   全国首家提供单据、货物流转、历史数据追踪服务；软硬件结合，智能化服务，效率、安全；
                    <br/>
                    本地存货异地取，方便快捷节省物流费用时间；货物质押、融资、理财、金积服务；
                    <br/>
                    银行级别安保；打破系统壁垒，一处可查仓库数据；货区物区流向动态，货物价值体积；
                    <br/>
                    货物状态异常报警；动态监控货物状态......
                </div>
            </div>

            <button type="button" ng-click="detail('Hulk－智能仓储系统')" class="btn btn_ok btn_ok_noback relative pull-right" style="width: 120px;height: 42px;top: 15px;">查看详情</button>


        </div>

        <div class="item">
            <div class="item-img margin-right-50 pull-left">
                <img src="/lib/img/captain320+320.png" />
            </div>
            <div class="item-text pull-left padding-top-30">
                <div class="item-text-title">
                    Captain－智能物流系统
                </div>
                <div class="item-text-subtitle margin-bottom-25">
                    智能物流系统，专为大宗产业链定制
                </div>
                <div class="item-text-content">
                    智能调度、在线结算，谁说传统物流企业不能“互联网＋”？
                    <br/>
                    信用第一、数据至上，最高行业标准的制定者！
                    <br/>
                    手机轻松一键提单，轻松一点方便省心；全程GPS定位跟踪保证货物安全，送货进度一手掌握。
                    <br/>
                    实时询价、即时发货，24小时随身云端物流部；车联网、大数据、助您车货情况一手掌握.......
                </div>
            </div>

            <button type="button"  ng-click="detail('Captain－智能物流系统')" class="btn btn_delete btn-cancel-to-ok relative pull-right" style="width: 120px;height: 42px;top: 15px;">查看详情</button>


        </div>
    </div>
</div>