<div class="head_goods_feture solveMethod">
    <img class="img_left" src="/lib/img/line_left.svg"/>
    <span class="solveTite">解决方案</span>
    <img class="img_right" src="/lib/img/line_right.svg"/>
</div>
<div class="solvecontent">
    <div class="solve_first">
      <img class="solve_img1" src="/lib/img/captain320+320.png"/>
       <div class="content_first">
         <div class="solove_desc">
             <div class="solove_desc_title">
               <p class="lg_title">Captain－智能物流系统</p>
               <p class="sm_title">智能物流系统，专为大宗产业链定制</p>
             </div>
             <div class="solve_desc_content">
                 <p>
                     智能调度、在线结算，谁说传统物流企业不能“互联网＋”？</br>
                     信用第一、数据至上，最高行业标准的制定者！</br>
                     手机轻松一键提单，轻松一点方便省心；全程GPS定位跟踪保证货物安全，送货进度一手掌握。</br>
                     实时询价、即时发货，24小时随身云端物流部；车联网、大数据、助您车货情况一手掌握.......
                 </p>
             </div>
             <div class="solove_serach">
                 <button type="button" class="btn btn_ok search_btn">查看详情</button>
             </div>

         </div>
       </div>
    </div>
    <div style="clear: both"></div>
    <div class="solve_second">
        <div class="content_first">
            <div class="solove_desc">
                <div class="solove_desc_title">
                    <p class="lg_title">Hulk－智能仓储系统</p>
                    <p class="sm_title">货主的贴心管家，商品的银行服务</p>
                </div>
                <div class="solve_desc_content">
                    <p>
                        全国首家提供单据、货物流转、历史数据追踪服务；软硬件结合，智能化服务，效率、安全;</br>
                        本地存货异地取，方便快捷节省物流费用时间；货物质押、融资、理财、金积服务;</br>
                        银行级别安保；打破系统壁垒，一处可查仓库数据；货区物区流向动态，货物价值体积；</br>
                        货物状态异常报警；动态监控货物状态......
                    </p>
                </div>
                <div class="solove_serach">
                    <button type="button" class="btn btn_ok search_btn">查看详情</button>
                </div>

            </div>
        </div>
        <img class="solve_img1" src="/lib/img/hulk320+320.png"/>

    </div>

</div>