<div class="head_goods_feture solveMethod">
    <img class="img_left" src="/lib/img/line_left.svg"/>
    <span class="solveTite">解决方案</span>
    <img class="img_right" src="/lib/img/line_right.svg"/>
</div>
<div class="solvecontent">
    <div class="solve_first">
      <img class="solve_img1" src="/lib/img/head.svg"/>
       <div class="content_first">
         <div class="solove_desc">
             <div class="solove_desc_title">
               <p class="lg_title">Captain－智能物流系统</p>
               <p class="sm_title">智能物流系统，专为大宗产业链定制</p>
             </div>
             <div class="solve_desc_content">
                 <p>
                     智能调度、在线结算，谁说传统物流企业不能“互联网＋”？</br>
                     信用第一、数据至上，最高行业标准的制定者！</br>
                     手机轻松一键提单，轻松一点方便省心；全程GPS定位跟踪保证货物安全，送货进度一手掌握。</br>
                     实时询价、即时发货，24小时随身云端物流部；车联网、大数据、助您车货情况一手掌握.......
                 </p>
             </div>
             <div class="solove_serach">
                 <button type="button" class="btn btn_ok search_btn">查看详情</button>
             </div>

         </div>
       </div>
    </div>
    <div style="clear: both"></div>
    <div class="solve_first">
        <img class="solve_img1" src="/lib/img/head.svg"/>
        <div class="content_first">
            <div class="solove_desc">
                <div class="solove_desc_title">
                    <p class="lg_title">Captain－智能物流系统</p>
                    <p class="sm_title">智能物流系统，专为大宗产业链定制</p>
                </div>
                <div class="solve_desc_content">
                    <p>
                        智能调度、在线结算，谁说传统物流企业不能“互联网＋”？</br>
                        信用第一、数据至上，最高行业标准的制定者！</br>
                        手机轻松一键提单，轻松一点方便省心；全程GPS定位跟踪保证货物安全，送货进度一手掌握。</br>
                        实时询价、即时发货，24小时随身云端物流部；车联网、大数据、助您车货情况一手掌握.......
                    </p>
                </div>
                <div class="solove_serach">
                    <button type="button" class="btn btn_ok search_btn">查看详情</button>
                </div>

            </div>
        </div>
    </div>

</div>