<div class="register" ng-controller="registerCtr">

    <div class="register_head">
        <img class="register_logo" src="/lib/img/logo186+50.svg"/>
        <img class="register_logo_desc" src="/lib/img/slogan.svg"/>
    </div>
    <div class="register_content">
        <div class="register_content_detail"></div>
        <div class="register_wrap">
            <div class="warp_content">
               <form  role="form" name="register">
                 <div>
                   <div class="register_phone_head" ng-class="{true:'toggel_active',false:'toggel_unactive'}[state.first]" >
                       <span class="register_phone">填写手机号</span>
                       <img src="/lib/img/checkok.svg" class="complete" ng-show="complete_first"/>
                   </div>
                    <div class="register_detail_head" ng-class="{true:'toggel_active',false:'toggel_unactive'}[state.second]" >
                        <span class="register_detail" >完善资料</span>
                        <img src="/lib/img/checkok.svg" class="complete complete_second" ng-show="complete_second"/>
                    </div>
                    <div class="register_sucss_head" ng-class="{true:'toggel_active',false:'toggel_unactive'}[state.third]">
                        <span class="register_sucss" >注册完成</span>
                        <img src="/lib/img/checkok.svg" class="complete complete_third" ng-show="complete_third"/>
                    </div>

                 </div>
                 <div class="warp_content_detail" >
                   <div name="first" ng-show="register_first">
                     <div class="form-group">
                             <div>
                                 <span class="has_account">已有账号,<a href="#login">现在登录</a></span>
                             </div>
                        </div>
                       <div class="form-group">
                           <span class="icon-icon_mobile"></span>
                           <input type="text" placeholder="请输入手机号码" ng-model="phone.number" name="phone_number" required  ng-maxlength="11"
                                 />
                       </div>
                       <div class="form-group errorWrap" >
                           <span class="errorInfo" ng-show="register.phone_number.$touched&&register.phone_number.$error.required||register_phone_error">必填</span>
                           <span class="errorInfo" ng-show="
                                 register.phone_number.$touched&&register.phone_number.$invalid ||register_phone_error">
                               请输入有效的11位手机号</span>
                       </div>
                       <!--<div class="form-group errorWrap" ng-show="register_phone_error">-->
                           <!--<span class="errorInfo" >请输入有效的11位手机号</span>-->
                       <!--</div>-->
                     <div class="form-group">
                         <span class="icon-icon_verificationcode"></span>
                         <input type="text" class="picture_validate" placeholder="请输入图形验证码" required ng-model="phone.validate_code"/>
                         <span class="validat_code"><img ng-src="{{picture_src}}" class="validat_mig" ng-click="change_picture()"/></span>
                     </div>
                       <div class="form-group errorWrap" ng-show="err_validate_state">
                           <span class="errorInfo" >{{err_validate}}</span>

                       </div>
                       <div class="form-group errorWrap" ng-show="register_validate_error">
                           <span class="errorInfo" >请输入图形验证码</span>
                       </div>
                     <div class="form-group">
                         <span class="icon-icon_verificationcode"></span>
                         <input type="text" class="msg_validate" placeholder="短信验证码" required ng-model="phone.msg_code"/>
                         <button class="msgBtn" type="button"  ng-disabled="send_msg_btn" ng-click="send_msg()">{{send_msg_desc}}</button>
                     </div>
                       <div class="form-group errorWrap" ng-show="err_msg_state">
                           <span class="errorInfo" >{{err_msg_desc}}</span>

                       </div>
                       <div class="form-group errorWrap" ng-show="register_msgcode_error">
                           <span class="errorInfo" >请输入短信验证码</span>
                       </div>
                     <div class="form-group read_wrap">
                         <input type="checkbox" ng-model="read_check" class="read_check"/>
                         <span class="read_content">阅读并接受<a>《有色云协议》</a></span>
                     </div>
                       <div class="form-group errorWrap errorWrapRead" ng-show="register_check_error">
                           <span class="errorInfo" >您还没有接受《有色云协议》</span>
                       </div>
                     <div class="form-group register_sub">
                         <button type="button" class="registerBtn" ng-click="register_go()">立即注册</button>
                     </div>
                   </div>
                   <div name="second" ng-show="register_second">
                       <div class="form-group">
                           <div>
                               <span class="has_account">已有账号,<a href="#login">现在登录</a></span>
                           </div>
                       </div>
                       <div class="form-group">
                           <span class="annotation">*</span>
                           <span class="icon-icon_user"></span>
                           <input type="text" placeholder="用户名" name="detail_username" required ng-model="detail.username"/>
                       </div>
                       <div class="form-group errorWrap" ng-show="register.detail_username.$touched&&register.detail_username.$error.required||detail_username_error">
                           <span class="errorInfo" >用户名必填</span>
                       </div>
                       <div class="form-group">
                           <span class="annotation">*</span>
                           <span class="icon-icon_password" ></span>
                           <input type="password" placeholder="请输入新密码"  name="password" required  ng-minlength="6" ng-maxlength="20"  ng-model="detail.password"/>
                       </div>
                       <div class="form-group errorWrap" ng-show="register.password.$touched&&register.password.$error.required||detail_password_error">
                           <span class="errorInfo" >请输入6-20位字符</span>
                       </div>
                       <div class="form-group">
                           <span class="annotation">*</span>
                           <span class="icon-icon_password"></span>
                           <input type="password" placeholder="重复新密码" name="repassword" required ng-model="detail.repassword"/>
                       </div>
                       <div class="form-group errorWrap" ng-show="register.password.$valid&&register.repassword.$valid
                         &&detail.password!=detail.repassword">
                           <span class="errorInfo" >密码不一致</span>
                       </div>
                       <div class="form-group">
                           <span class="icon-icon_message"></span>
                           <input type="text" placeholder="请输入邮件地址" name="email" ng-model="detail.email"
                             ng-pattern="email_pattern"/>
                       </div>
                       <div class="form-group errorWrap" ng-show="email_error">
                           <span class="errorInfo" >邮箱格式错误</span>
                       </div>
                       <div class="form-group">
                           <span class="icon-icon_company"></span>
                           <input type="text" placeholder="公司／个人名称" ng-model="detail.company"/>
                       </div>
                       <div class="form-group">
                           <span class="icon-icon_ie"></span>
                           <input type="text" placeholder="网址"/>
                       </div>
                       <div class="form-group register_sub_detail">
                           <button type="button" class="sub_detail_Btn" ng-click="complete_detail_registe()">提交资料</button>
                       </div>
                   </div>
                   <div name="third" ng-show="register_third">
                          <div class="register_sucss_detail">
                              <p class="smile_wrap">
                                  <span class="icon-icon_smile"></span>
                              </p>
                              <p class="smile_name">
                                  <span>恭喜</span><span class="smile_name_desc">{{register_suc.username}}</span><span>注册成功</span>
                                  <br/>
                                  <span class="smile_now">现在你可以通过用户名</span><br/>
                                  <span>手机号</span><span class="smile_number">{{register_suc.phone}}</span><br/>
                                  <span>或者邮箱</span><span class="smile_email">{{register_suc.email}}</span><br/>
                                  <span>进行登录啦！</span><br/>
                                  <span class="smile_jump">{{count}}</span><span>秒后跳转到</span><span class="smile_jump_desc">首页</span>



                              </p>

                          </div>
                   </div>
                 </div>
               </form>
            </div>

        </div>
    </div>
    <link rel="import" href="/modules/partial/foot/foot.html?__inline"/>
</div>