<div class="main-area">
    <div class="main-top-bar">
        <p>{{title}}</p>
    </div>
    <div class="main-content flex-area">
        <div class="main-item" ng-if="viewState==0||viewState==1">
            <span class="icon-icon_analysis icon-bg icon-color-light" ng-style="viewState==1?{'font-size':'320px'}:{}"></span>
            <div class="item-title">
                物接入相关
            </div>
            <div class="item-content" ng-if="viewState==0">
                <span class="item-text">类别, 身份, 策略等物接入相关的问题</span>
                <div class="btn-area-right">
                    <a class="btn-normal btn-blue-bg" ng-click="step(1)"><span class="icon-icon_question btn-icon"></span>提问</a>
                </div>
            </div>
            <div class="item-content" ng-if="viewState==1">
                <div class="form-field-set">
                    <div class="form-row" style="height:220px;">
                        <label><span class="font-red">*</span>问题描述</label>
                        <textarea ng-model="fieldSet.description" placeholder="问题描述">
                        </textarea>
                    </div>
                    <div class="form-row">
                        <label><span class="font-red">*</span>联系手机</label>
                        <input ng-model="fieldSet.phone" placeholder="联系手机">
                        </input>
                    </div>
                    <div class="form-row">
                        <label><span class="font-red">*</span>联系邮箱</label>
                        <input ng-model="fieldSet.email" placeholder="联系邮箱">
                        </input>
                    </div>
                    <div class="form-row">
                        <label>附件</label>
                        <div class="upload-area">
                            <div class="btn-upload btn-blue-border btn-small" id="btn-upload-1">
                                <!--<input type="file" nv-file-select uploader="uploader"/>-->
                                浏览...
                            </div>
                            <span ng-show="fieldSet.annex.length==0">未选择文件</span>
                            <span class="upload-file" ng-repeat="file in fieldSet.annex">{{getFileName(file)}}
                                <a class="upload-file-delete" ng-click="fieldSet.annex.splice($index,1)">×</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-area-center">
                    <a class="btn-normal btn-blue-bg" ng-click="submit()">提交</a>
                    <a class="btn-normal btn-blue-border" ng-click="step(0)">取消</a>
                </div>
            </div>
        </div>
        <div class="main-item" ng-if="viewState==0||viewState==2">
            <span class="icon-icon_rules icon-bg icon-color-light" ng-style="viewState==2?{'font-size':'320px'}:{}"></span>
            <div class="item-title">
                规则引擎相关
            </div>
            <div class="item-content" ng-if="viewState==0">
                <span class="item-text">规则类型,规则维护等规则引擎相关的问题</span>
                <div class="btn-area-right">
                    <a class="btn-normal btn-blue-bg" ng-click="step(2)"><span class="icon-icon_question btn-icon"></span>提问</a>
                </div>
            </div>
            <div class="item-content" ng-if="viewState==2">
                <div class="form-field-set">
                    <div class="form-row" style="height:220px;">
                        <label><span class="font-red">*</span>问题描述</label>
                        <textarea ng-model="fieldSet.description" placeholder="问题描述">
                        </textarea>
                    </div>
                    <div class="form-row">
                        <label><span class="font-red">*</span>联系手机</label>
                        <input ng-model="fieldSet.phone" placeholder="联系手机">
                    </div>
                    <div class="form-row">
                        <label><span class="font-red">*</span>联系邮箱</label>
                        <input ng-model="fieldSet.email" placeholder="联系邮箱">
                    </div>
                    <div class="form-row">
                        <label>附件</label>
                        <div class="upload-area">
                            <div class="btn-upload btn-blue-border btn-small" id="btn-upload-2">
                                <!--<input type="file" nv-file-select uploader="uploader"/>-->
                                浏览...
                            </div>
                            <span ng-show="fieldSet.annex.length==0">未选择文件</span>
                            <span class="upload-file" ng-repeat="file in fieldSet.annex">{{getFileName(file)}}
                                <a class="upload-file-delete" ng-click="fieldSet.annex.splice($index,1)">×</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-area-center">
                    <a class="btn-normal btn-blue-bg" ng-click="submit()">提交</a>
                    <a class="btn-normal btn-blue-border" ng-click="step(0)">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
