<div class="forget">

    <div class="forget_head">
        <a href="/index.html">
            <img class="forget_logo"  src="/statics/lib/img/logo186+50_8bebede.svg"/>
        </a>
        <img class="forget_logo_desc" src="/statics/lib/img/slogan_62f3bbd.svg"/>
    </div>
    <div class="forget_content">
        <div class="forget_content_detail"></div>
        <div class="forget_wrap">
            <div class="warp_content">
                <form  role="form" name="forget">
                    <div>
                        <div class="forget_phone_head">
                            <span class="forget_phone">找回密码</span>
                        </div>

                    </div>
                    <div class="warp_content_detail">
                        <div name="first" ng-show="state.first">
                            <div class="form-group input-btn">
                                <span class="icon-icon_mobile icon"></span>
                                <input type="text" placeholder="请输入手机号码" name="phone_number" required  ng-maxlength="11"
                                          ng-model="phone.number"/>
                            </div>
                            <div class="form-group errorWrap">
                                <span class="errorInfo" ng-show="forget.phone_number.$touched&&forget.phone_number.$error.required ||forget_phone_error">必填</span>
                                <span class="errorInfo" ng-show="forget.phone_number.$invalid&&forget.phone_number.$touched ||forget_phone_error">
                                请输入有效的11位手机号</span>
                            </div>
                            <div class="form-group errorWrap err_user_find" ng-show="err_user_state">
                                <span class="errorInfo" >{{err_user}}</span>

                            </div>
                            <div class="form-group input-btn form-group-change">
                                <span class="icon-icon_verificationcode icon"></span>
                                <input type="text" class="picture_validate" placeholder="请输入图形验证码" required ng-model="phone.validate_code"/>
                                <span class="validat_code"><img ng-src="{{picture_src}}" class="validat_mig" ng-click="change_picture()"/></span>
                            </div>
                            <div class="form-group errorWrap" ng-show="err_validate_state">
                                <span class="errorInfo" >{{err_validate}}</span>
                            </div>
                            <div class="form-group errorWrap" ng-show="forget_validate_error">
                                <span class="errorInfo" >请输入图形验证码</span>
                            </div>
                            <div class="form-group input-btn form-group-change">
                                <span class="icon-icon_verificationcode icon"></span>
                                <input type="text" class="msg_validate" ng-model="phone.msg_code" placeholder="短信验证码"/>
                                <button type="button"  class="msgBtn" ng-class="{true:'msg_active',flase:'msg_unactive'}[send_msg_state]" ng-disabled="send_msg_btn" ng-click="send_msg()">{{send_msg_desc}}</button>
                            </div>
                            <div class="form-group errorWrap" ng-show="err_msg_state">
                                <span class="errorInfo" >{{err_msg_desc}}</span>

                            </div>
                            <div class="form-group errorWrap" ng-show="forget_msgcode_error">
                                <span class="errorInfo" >请输入短信验证码</span>
                            </div>
                            <div class="form-group input-btn">
                                <span class="icon-icon_password icon"></span>
                                <input type="password" placeholder="6-20字符（区分大小写）" name="password" required  ng-minlength="6" ng-maxlength="20"
                                 ng-model="phone.password"/>
                            </div>

                            <div class="form-group errorWrap">
                                <span class="errorInfo" ng-show="forget.password.$touched&&forget.password.$error.required ||forget_password_error">必填</span>
                                <span class="errorInfo" ng-show="forget.password.$touched&&forget.password.$invalid ||forget_password_error" >请输入6-20位字符</span>
                            </div>

                            <div class="form-group input-btn">
                                <span class="icon-icon_password icon"></span>
                                <input type="password" placeholder="重复新密码"  name="repassword"   required  ng-minlength="6"
                                       ng-maxlength="20"  ng-model="phone.repassword"/>
                            </div>

                            <div class="form-group errorWrap" ng-show="forget.repassword.$touched
                             &&phone.password!=phone.repassword||forget_repassword_error">
                                <span class="errorInfo" >密码不一致</span>
                            </div>
                            <div class="form-group forget_sub">
                                <button type="button" class="forgetBtn" ng-class="{true:'btn_active',false:'btn_unactive'}[btn_active]"   ng-click="findPassword()">提交</button>
                            </div>


                        </div>
                        <div name="second" ng-show="state.second" >
                            <div class="register_sucss_detail">
                                <p class="smile_wrap">
                                    <span class="icon-icon_smile"></span>
                                </p>
                                <p class="smile_name">
                                    <span>恭喜密码修改成功</span>
                                    <br/>
                                    <span class="smile_now">现在你可以重新</span><span class="relogin">登录</span><span>啦!</span><br/>

                                    <span class="smile_jump">{{count}}</span><span>秒后跳转到</span><span class="smile_jump_desc">首页</span>

                                </p>

                            </div>



                        </div>


                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="head_foot">
    <p>
        Copyright 2015 - 2016. 湖北橙石电子商务有限公司 & 上海橙金信息科技有限公司 All Rights Reserved. 沪ICP备16024255号
    </p>
</div>
</div>