<div ng-controller="addRegulationCtr" class="addstrategy-modal">
    <!--<div class="addstrategy-overlay"></div>-->
    <div class="addstrategy-content" id="addstrategy-content" ng-class="addstrategy_content_topzero">

        <div class="addstrategy-content-header relative">
            <p>{{item.title}}</p>
            <span class="icon-icon_close_circle_o category-pop-close" ng-click="cancel()"></span>
        </div>
        <div class="addstrategy-content-cont">
            <div class="form-group form-group-selin form-group-category">
                <div class="input-group">
                    <span class="input-group-addon bg-white inputdesc">规则名称</span>
                    <input type="text" class="form-control" placeholder="请输入规则名称" ng-model="name">
                </div>
            </div>

            <div class="form-group form-group-selin ">
                <div class="input-group input-group-select" style="width:auto;">
                    <span class="input-group-addon bg-white inputdesc">物接入实例</span>
                    <ui-select ng-model="instance.name" style="width:331px;" name="instance" theme="bootstrap"
                               on-select="setShowNum(instance.name)">
                        <ui-select-match placeholder="选择实例类型">{{$select.selected.name}}</ui-select-match>
                        <!--<ui-select-choices repeat="item.id as item in numbers">-->
                        <ui-select-choices repeat="item in numbers">
                            <div ng-bind-html="item.name"></div>
                            <!-- <small ng-bind-html="item.email"></small> -->
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!--<button type="button" class="select_addBtn" ng-click="selectAdd()">-->
                <!--<span class="icon-icon_plus"></span>-->
                <!--</button>-->
            </div>

            <!--<div class="form-group form-group-selin">-->
                <!--<div class="input-group">-->
                    <!--<span class="input-group-addon inputdesc">主题</span>-->
                    <!--<input type="text" class="form-control" placeholder="请输入主题" ng-model="topicName">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group form-group-selin relative col-md-12" ng-show="instanceSel">
                <div class="subtite_wrap col-md-6" >
                    <span class="subtite_desc">主题</span>
                    <span class="fixed_sub"><span tooltip-placement="bottom" uib-tooltip="{{subtite_desc}}">{{subtite_desc |characters:10:true}}</span></span>
                </div>
                <div class="sub_input col-md-6">
                    <input type="text" class="subinput"  placeholder="请输入主题" ng-model="topicName"/>
                </div>
                <div class="addTopicFlag"></div>
            </div>
            <div class="addTopicListWrap">
                <div  class="addTopicListItem" ng-repeat="item2 in addTopicList">
                    <div class="form-group form-group-selin relative">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">存储类型</span>
                            <ui-select ng-model="addTopicList[$index]['rule_type']" style="width:331px;float:left;"
                                       name="rule_type" theme="bootstrap"
                                       on-select="setRuleType(addTopicList[$index]['rule_type'],$index)">
                                <ui-select-match placeholder="选择存储类型">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in rule_typeArr">
                                    <div ng-bind-html="item.name"></div>
                                    <!-- <small ng-bind-html="item.email"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="addTopicFlag"></div>
                    </div>
                    <div class="form-group form-group-selin"
                         ng-show="addTopicList[$index]['rule_type'].id == 'RabbitMQ'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">exchange</span>

                            <!--<div type="text" class="form-control readonly"-->
                                 <!--ng-bind="addTopicList[$index]['exchange']"></div>-->
                            <!--<div type="text" class="form-control readonly">{{regulationShow}}</div>-->
                            <input type="text" class="form-control" placeholder=""
                                   ng-model="regulationShow" readonly>
                        </div>
                    </div>
                    <div class="form-group form-group-selin"
                         ng-show="addTopicList[$index]['rule_type'].id == 'RabbitMQ'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">queue</span>
                            <input type="text" class="form-control" placeholder="请输入队列名"
                                   ng-model="addTopicList[$index]['queue']">
                        </div>
                    </div>
                    <div class="form-group form-group-selin"
                         ng-show="addTopicList[$index]['rule_type'].id == 'RabbitMQ'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">持久化</span>

                            <div class="stategy-rights">
                                <input type="checkbox" name="topicrightssel{{$index}}"
                                       ng-click="addPersist($index,'persist')"
                                       ng-checked="addTopicList[$index]['persist']"/>
                                <span>是</span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group form-group-selin" ng-show="addTopicList[$index]['rule_type'].id == 'API'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">api</span>
                            <input type="text" class="form-control" placeholder="http://www.g.com/aa/bb"
                                   ng-model="addTopicList[$index]['api']">
                        </div>
                    </div>

                    <div class="form-group form-group-selin" ng-show="addTopicList[$index]['rule_type'].id == 'API'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod">调用方式</span>
                            <ui-select ng-model="addTopicList[$index]['method']" style="width:331px;float:left;" name="method" theme="bootstrap"
                                       on-select="setMethod(addTopicList[$index]['method'],$index)">
                                <ui-select-match placeholder="选择调用方式">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in methodArr">
                                    <div ng-bind-html="item.name"></div>
                                    <!-- <small ng-bind-html="item.email"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group form-group-selin" ng-show="addTopicList[$index]['rule_type'].id == 'API'">
                        <div class="input-group input-group-width">
                            <span class="input-group-addon bg-white inputdesc inputdesc-mod inputdesc-mod-textarea">请求头</span>
                            <textarea class="form-control" placeholder="请输入内容"
                                   ng-model="addTopicList[$index]['header']"></textarea>
                        </div>
                    </div>

                    <div class="form-group form-group-selin">
                        <div class="delTopic" ng-click="delTopicFunc($index)">
                            <div class="delTopicIcon"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-selin relative margin-top-20">
                <fieldset class="addTopic" ng-click="addTopicFunc()" ng-disabled="remainTopicToAddCount==0">
                    <div class="icon-icon_plus addTopicIcon"></div>
                </fieldset>
                <span class="remainTopicToAdd margin-left-10">（还可添加{{remainTopicToAddCount}}个）</span>

                <div class="addTopicFlag"></div>
            </div>

            <div class="addstrategy-modal-footer">
                <div>
                    <button type="button" class="btn btn_ok" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn_cancel" ng-click="ok()">保存</button>
                </div>
            </div>

        </div>
    </div>
</div>

