<div ng-controller="ModalStrategy" class="addstrategy-modal">
    <div class="addstrategy-overlay"></div>
    <div class="addstrategy-content">

        <div class="addstrategy-content-header relative">
            <p>{{item.title}}</p>
            <span class="icon-icon_close_circle_o category-pop-close" ng-click="cancel()"></span>
        </div>
        <div class="addstrategy-content-cont">
            <div class="form-group form-group-selin form-group-category">
                <div class="input-group">
                    <span class="input-group-addon bg-white inputdesc">类别名称</span>
                    <input type="text" class="form-control" placeholder="请输入类别名称" ng-model="name">
                </div>
            </div>
        </div>
    </div>
</div>

