<ul class="project_tab margin-bottom-30" ng-controller="projectTabCtr">
    <!--<li class="a-pare project_name-pare">-->
        <!--<span class="project_name" ng-bind="item.name">-->

        <!--</span>-->
    <!--</li>-->

    <li class="a-pare">
        <!--<a ng-class="{true:'active',false:''}[item.category]" ui-sref="category({projectId:item.id})">-->
        <a ng-class="{true:'active',false:''}[item.category]" ng-click="go('category')">
            <span>类别管理</span>
        </a>
    </li>

    <li class="a-pare">
        <!--<a ng-class="{true:'active',false:''}[item.identity]" ui-sref="identity({projectId:item.id})">-->
        <a ng-class="{true:'active',false:''}[item.identity]"  ng-click="go('identity')">
            <span>身份管理</span>
        </a>
    </li>

    <li class="a-pare">
        <!--<a ng-class="{true:'active',false:''}[item.strategy]" ui-sref="strategy({projectId:item.id})">-->
        <a ng-class="{true:'active',false:''}[item.strategy]"  ng-click="go('strategy')">
            <span>策略管理</span>
        </a>
    </li>
</ul>
