<div class="category">
    <script type="text/ng-template" id="myModalregulation.html">
        <div class="modal-header relative">
            <p>{{item.title}}</p>
            <span class="icon-icon_close_circle_o category-pop-close" ng-click="cancel()"></span>
        </div>
        <div ng-show="item.method=='add' || item.method=='modify'">
            <div class="modal-body">
                <div class="form-group form-group-selin form-group-category">
                    <div class="input-group">
                        <span class="input-group-addon bg-white inputdesc">类别名称</span>
                        <input type="text" class="form-control" placeholder="请输入类别名称" ng-model="name">
                    </div>
                </div>
                <div class="form-group form-group-selin" ng-show="item.method=='add'">
                    <div class="input-group">
                        <span class="input-group-addon bg-white inputdesc">主题</span>
                        <input type="text" class="form-control" placeholder="请输入主题" ng-model="topic">
                    </div>
                </div>

                <div class="form-group form-group-selin" ng-show="item.method=='modify'">
                    <div class="input-group">
                        <span class="input-group-addon bg-white inputdesc">主题</span>

                        <div type="text" class="form-control readonly" ng-bind="topic"></div>
                    </div>
                </div>
                <div class="form-group form-group-selin margin-bottom-30">
                    <div class="input-group">
                        <span class="input-group-addon bg-white inputdesc">简述</span>
                        <input type="text" class="form-control" placeholder="请输入内容" ng-model="description">
                    </div>
                </div>
            </div>

            <div class="modal-footer modal-footer-category">
                <div>
                    <button type="button" class="btn btn_ok" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn_cancel" ng-click="ok()">保存</button>
                </div>
            </div>

        </div>

        <div ng-show="item.method == 'delete'">
            <div class="modal-body">
                <div class="warn_delete">
                    <span class="icon-icon_warn"></span>

                    <div class='delete_desc'>
                        <p>确定要删除这个规则吗</p>

                        <p>注意：删除以后不可恢复！</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-project">
                <div>
                    <button type="button" class="btn btn_delete" ng-click="ok()">删除</button>
                    <button type="button" class="btn btn_cancel " ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>

    </script>
    <div class="main-top-bar">
        <p><a href="" ng-show="regulationDetail" ng-click="return()"><span class="icon-icon_double_up"></span>返回</a>规则管理/规则列表{{detail_flag}}</p>
    </div>
    <div class="main-content" ng-show="!regulationDetail">
        <!--<link rel="import" href="/modules/partial/common/project_tab.html?__inline"/>-->
        <div class="form-search">
            <input class="category_name" placeholder="请输入规则名称" ng-model="regulation_name"/>
            <button type="button" class="searchBtn" type="button" ng-click="searchBtn()">搜索</button>
            <!--<button type="button" class="addBtn" ng-click="open('md-add','add',$index)">-->
            <button type="button" class="addBtn" ng-click="addStrategy()">
                <span class="icon-icon_plus"></span>
                <span class="addBtn_desc">添加规则</span>
            </button>
        </div>
        <table class="table table-bordered table-content">
            <thead ng-show="query_result.length>0">
            <tr>
                <th>规则名称</th>
                <th>主题</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody ng-show="query_result.length>0">
            <tr ng-repeat="item in query_result">
                <td class="detail-btn" ng-click="regulationDetailFunc($index)">{{item.name}}</td>
                <td>{{item.topic}}</td>
                <td>{{item.created_at}}</td>
                <td class="op-btns">
                    <span class="icon-icon_edit edit-icon margin-right-10" ng-click="modifyStrategy($index)"></span>
                    <!--<span class="icon-icon_eye watch-icon"></span>-->
                    <span class="icon-icon_delete delete-icon margin-left-10"
                          ng-click="open('md-add','delete',$index)"></span>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="no_content" ng-show="query_result.length==0">
            <!--<p><span class="icon-no_search"></span></p>-->
            <p><img class="empty-list-img" src="/lib/img/IOT-no_search.svg"/></p>
            <p>找不到你需要的内容，请重新搜索</p>
        </div>
        <table class="table table-pagination" ng-show="query_result.length!=0">
            <thead>
            <tr>
                <th class="pagination-items-per-page">
                    <!-- <span>每页显示数量</span>
                    <ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                        <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in numbers">
                            <div ng-bind-html="item"></div>
                        </ui-select-choices>
                    </ui-select> -->
                    <div class="pagination-content">
                        <span class="pagination-tip">每页显示数量</span>
                        <ui-select ng-model="number" name="camera_page_select" theme="bootstrap"
                                   on-select="setShowNum(number)">
                            <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in numbers">
                                <div ng-bind-html="item"></div>
                                <!-- <small ng-bind-html="item.email"></small> -->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </th>
                <th>
                    <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()"
                                    ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                                    boundary-link-numbers="true" num-pages="numPages" previous-text="上一页"
                                    next-text="下一页"></uib-pagination>
                    <div class="pagination-detail">
                        <span>共{{total_page}}页</span>
                        <span>跳至<input type="text" name="camera_page" ng-model="index_sel"/>页</span>
                        <span><button name="camera_submmit" ng-click="setPage()">确定</button></span>
                    </div>
                </th>

            </tr>
            </thead>

        </table>
    </div>
    <div class="main-content height-auto" ng-show="regulationDetail">
        <div class="form-search">
            <div class="form-group form-group-selin border-light relative clear-padding-left margin-auto height-auto clear-padding-right"
                 style="width:41.6%;float: none;">
                <!--<div class="input-group" style="display:inline-table;">-->
                    <!--<span class="input-group-addon bg-white inputdesc">主题</span>-->
                    <!--<input type="text" class="form-control" placeholder="请输入主题" ng-model="watchTopic">-->
                <!--</div>-->
                <button type="button" class="searchBtn margin-bottom-10" type="button" ng-click="modifyStrategy(detailIdx)"
                        style="border-radius: 4px;width: 134px;float: right;">
                   <span class="icon-icon_edit padding-right-5"></span>规格编辑
                </button>
                <span class="categoryWatchTip" style="bottom: 10px;">规则查看</span>
            </div>

        </div>
        <div class="margin-bottom-20 margin-auto" style="width:41.6%;">
            <div class="ul-bordered width-full">
                <ul class="regulation-detail-item relative">
                    <li class="regulation-detail-key">
                        规则名称
                    </li>
                    <li>
                        {{detail_name}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative">
                    <li class="regulation-detail-key">
                        物接入实例
                    </li>
                    <li>
                        {{detail_instance}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative">
                    <li class="regulation-detail-key">
                        主题
                    </li>
                    <li>
                        {{detail_topic}}
                    </li>
                </ul>
            </div>

            <div class="table-bordered width-full margin-top-10" ng-repeat="item in detail_actuator">
                <ul class="regulation-detail-item relative">
                    <li class="regulation-detail-key">
                        存储类型
                    </li>
                    <li>
                        {{item.rule_type}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'RabbitMQ'">
                    <li class="regulation-detail-key">
                        exchange
                    </li>
                    <li>
                        {{item.exchange}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'RabbitMQ'">
                    <li class="regulation-detail-key">
                       queue
                    </li>
                    <li>
                        {{item.queue}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'RabbitMQ'">
                    <li class="regulation-detail-key">
                        持久化
                    </li>
                    <li>
                        {{item.persist | booleanToString}}
                    </li>
                </ul>


                        <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'API'">
                            <li class="regulation-detail-key">
                                api
                            </li>
                            <li>
                                {{item.api}}
                            </li>
                        </ul>
                        <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'API'">
                            <li class="regulation-detail-key">
                                调用方式
                            </li>
                            <li>
                                {{item.method}}
                    </li>
                </ul>
                <ul class="regulation-detail-item relative" ng-show="item.rule_type == 'API'">
                    <li class="regulation-detail-key">
                        请求头
                    </li>
                    <li>
                        {{item.header}}
                    </li>
                </ul>

            </div>

        </div>
        <!--<div class="modal-footer modal-footer-category">-->
            <!--<div>-->
                <!--<button type="button" class="btn btn_ok" ng-click="return()">返回</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <optip ng-class="optip"></optip>
    <addregulation ng-class="addstrategy" class="addstrategy-wrap"></addregulation>
</div>