<div  class="sideBar" ng-controller="sideBarCtrl">
     <div class="side_user">
        <div class="user_content">
          <img class="user_img" src="/lib/img/head.svg"/>
          <p>DEVIC</p>
        </div>
     </div>
     <div class="side-menu-group">
         <div class="side-menu">
             <a class="menu-theme"  ui-sref-active="active" ui-sref="manage" >
                 <span class="icon-icon_console icon"></span>
                 <span>管理控制台</span>
             </a>
         </div>
          <div class="side-menu" ng-class="{true:'open'}[status.subject]">
               <span class="menu-theme" ng-click="toggle('subject')" >
                    <span class="icon-icon_theme icon"></span>
                    <span>主题管理</span>
                    <span class="icon-icon_down icon-rotate"></span>
                </span>
              <ul class="menu-group">
                  <li class="sub-menu" ui-sref-active="active" ui-sref="project">
                      <a>项目管理</a>
                  </li>
              </ul>

            </div>

         <div class="side-menu">
             <a class="menu-theme" ui-sref-active="active" ui-sref="analysis">
                 <span class="icon-icon_analysis icon"></span>
                 <span>物解析管理</span>
             </a>
         </div>
         <div class="side-menu">
             <a class="menu-theme" ui-sref-active="active" ui-sref="regulation">
                 <span class="icon-icon_rules icon"></span>
                 <span>规则管理</span>
             </a>
         </div>
         <div class="side-menu" ng-class="{true:'open'}[status.work_order]">
               <span class="menu-theme" ng-click="toggle('work_order')" >
                    <span class="icon-icon_theme icon"></span>
                    <span>工单管理</span>
                    <span class="icon-icon_down icon-rotate"></span>
                </span>
             <ul class="menu-group">
                 <li class="sub-menu" ui-sref-active="active" ui-sref="subOrder">
                     <a>提交工单</a>
                 </li>
                 <li class="sub-menu" ui-sref-active="active" ui-sref="myOrder">
                     <a>我的工单</a>
                 </li>
             </ul>
         </div>
         <div class="side-menu">
             <a class="menu-theme" ui-sref-active="active" ui-sref="email">
                 <span class="icon-icon_mail icon"></span>
                 <span>站内信管理</span>
             </a>
         </div>

     </div>

</div>