<div class="main-area">
    <div class="main-content" style="background-color: #FFFFFF;min-height:500px;">
        <label class="main-title">{{title}}</label>
        <div ng-show="!detail">
            <div class="search-area">
                <div class="search-bar">
                    <div><label>时间</label></div>
                    <div><input type="text" class="normal date-picker" data-date-format="yyyy-mm-dd"
                                ng-model="params.date_start" placeholder="请选择"/></div>
                    <div><label>至</label></div>
                    <div><input type="text" class="normal date-picker" data-date-format="yyyy-mm-dd"
                                ng-model="params.date_end" placeholder="请选择"/></div>
                </div>
                <div class="search-bar">
                    <div><label>状态{{parmas.state}}</label></div>
                    <ui-select ng-model="paramsState" theme="bootstrap" on-select="params.state = $select.selected.value;">
                        <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in selections.state">
                            <div>{{item.name}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div classs="search-bar">
                    <a href="javascript:void(0)" class="btn-blue-bg btn-normal" ng-click="refresh()">搜索</a>
                </div>
            </div>
            <div class="table-area" ng-show="dataList.length>0">
                <table class="table table-bordered table-content">
                    <thead>
                    <tr>
                        <th>工单编号</th>
                        <th>问题内容</th>
                        <th>问题类型</th>
                        <th>状态</th>
                        <th>提交时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <td>1011</td>
                        <td>{{data.description}}</td>
                        <td>物接入</td>
                        <td>{{data.state_display}}</td>
                        <td>{{data.created_at}}</td>
                        <td class="op-btns">
                            <a class="icon-icon_eye watch-icon btn-operation" ng-click="showDetail(data)"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-pagination" ng-show="totalPage>1">
                    <thead>
                    <tr>
                        <th class="pagination-items-per-page">
                            <div class="pagination-content">
                                <span class="pagination-tip">每页显示数量</span>
                                <ui-select ng-model="tableParams.number" theme="bootstrap"
                                           on-select="tableParams.number=$select.selected;refresh();">
                                    <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="item in selections.numbers">
                                        <div ng-bind-html="item"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </th>
                        <th>
                            <uib-pagination items-per-page="tableParams.number" total-items="total" ng-change="refresh()"
                                            ng-model="tableParams.index" max-size="5"
                                            class="pagination-sm" boundary-links="true" force-ellipses="true" first-text="首页"
                                            last-text="末页" next-text="下一页" previous-text="上一页"></uib-pagination>
                            <div class="pagination-detail">
                                <span>共{{totalPage}}页</span>
                                <span>跳至<input type="text" ng-model="jumpToPage"/>页</span>
                                <span><button ng-click="refresh(jumpToPage);jumpToPage='';">确定</button></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div ng-show="listLoadFlag==2&&dataList&&dataList.length==0" class="emplty-view">
                <span class="icon icon-icon_alert"></span><span class="empty-view-text">对不起，您搜索的内容不存在。<br/>请重新搜索。</span>
            </div>
        </div>
        <div class="detail-area" ng-if="detail">
            <div class="detail-top-area flex-area">
                <span style="text-align: left;">工单编号：1011</span>
                <span style="text-align: center;">状态：{{detail.state_display}}</span>
                <span style="text-align: right;">提交时间：{{detail.created_at}}</span>
            </div>
            <div class="detail-center-area">
                <div class="msg-mine">
                    <div class="msg-title">
                        <img class="msg-img" src="/statics/lib/img/head_698cbad.svg">
                        <span class="msg-user-name">我</span>
                    </div>
                    <div class="msg-content">
                        <p>从光猫直接出来的一根网线，这个网线在笔记本上连得上，而且可以上网。但是插在台式机的时候，直接显示网络电缆没有插好，去修的时候，修理店的网线插上就能用，说明台式机的网卡没有问题</p>
                        <span class="msg-time">2016-08-31 14:50:22</span>
                    </div>
                </div>
                <div class="msg-other">
                    <div class="msg-content">
                        <p>网卡接口是不是好的,网线接头——水晶头有没有搞好
                            左右动一下网线看有没有效果
                            1、检查与主板连接的网卡是否松动，建议取下来用刷子轻轻刷一下，去灰尘后，重新装上。
                            2、检查你的网上邻居里的本地连接内的所有连接是否都启用，如果未启用，请启用。
                            3、水晶头与网卡连接的地方是否进了头发丝或沙粒等灰尘，因为再细小的东西一旦进去也会导致信号短路的，用嘴吹一下就好了，然后再插上水晶头
                            4、检查网线两端的水晶头连接和内部线路排列情况，水晶头上的线排列顺序是橙蓝绿棕，你看看是按这个顺序排列的吗
                            5、如果以上3种方法都不管用的话，建议删除网卡驱动后，重新再安装网卡驱动后，重启，看看是否能成功</p>
                        <span>2016-08-31 14:50:22</span>
                    </div>
                    <div class="msg-title">
                        <img class="msg-img" src="/statics/lib/img/head_698cbad.svg">
                        <span class="msg-user-name">有色云</span>
                    </div>
                </div>
            </div>
            <div class="detail-bottom-area flex-area">
                <textarea class="normal" style="height:80px;" placeholder="请填回复内容"></textarea>
                <a class="btn-blue-bg btn-normal" style="line-height: 80px;border-radius: 0;margin-left:20px;flex-grow: 0;min-width: 80px;">回复</a>
            </div>
        </div>
    </div>
</div>
