<div class="head_com" ng-controller="headerCtrl">
    <div class="btn_group">
        <a class="manage_dash" href="manageIndex.html#manage" ng-show="state.manage">管理控制台</a>

        <!--<a class="manage_dash"  ng-show="state.manage">管理控制台</a>-->
        <a class="head_register" href="#register" ng-show="state.register">注册</a>
        <a class="head_login" href="login.html" ng-show="state.login">登录</a>
        <div class="head_login_name">
         <a  class="dropdown-toggle ng-cloak" dropdown-toggle data-toggle="dropdown"  ng-show="state.user_name" ng-cloak>{{username}}</a>
            <ul class="dropdown-menu dropdown-menu-register" role="menu">
                <div class="triangle-up"></div>
                <li><a  ng-click="quit()">退出</a></li>

            </ul>
        </div>

        <img class="head_img" src="/lib/img/logo200+100.svg" />
    </div>
    <div class="head_nav">
         <ul class="nav nav-tabs nav-head">
             <li>
                 <a ng-class="{true:'nav_active',flase:'nav_unactive'}[nav_state.first]"  ng-click="toggle('first')"><span>首页</span></a>
                 <!--<ul  class="dropdown-menu" role="menu">-->
                     <!--<li>java</li>-->
                     <!--<li>css</li>-->
                 <!--</ul>-->
             </li>
             <li><a  ng-class="{true:'nav_active',flase:'nav_unactive'}[nav_state.second]"  ng-click="toggle('second')"><span>案列</span></a></li>
             <li><a  ng-class="{true:'nav_active',flase:'nav_unactive'}[nav_state.third]" ng-click="toggle('third')"><span>开发文档</span></a></li>
             <li><a  ng-class="{true:'nav_active',flase:'nav_unactive'}[nav_state.fourth]" ng-click="toggle('fourth')"><span>解决方案</span></a></li>
             <li><a  ng-class="{true:'nav_active',flase:'nav_unactive'}[nav_state.fifth]" ng-click="toggle('fifth')"><span>关于我们</span></a></li>
         </ul>
    </div>
   <div ng-show="nav_state.first">
    <div class="head_banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/lib/img/banner1-01.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="/lib/img/banner2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="/lib/img/banner3.jpg" alt="Third slide">
                </div>
            </div>
            <!--&lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;-->
            <!--<a class="carousel-control left" href="#myCarousel"-->
               <!--data-slide="prev">&lsaquo;</a>-->
            <!--<a class="carousel-control right" href="#myCarousel"-->
               <!--data-slide="next">&rsaquo;</a>-->
        </div>
    </div>
    <div class="head_goods_feture">
       <img class="img_left" src="/lib/img/line_left.svg"/>
        <span>产品特色</span>
        <img class="img_right" src="/lib/img/line_right.svg"/>
    </div>
    <div class="feture_detail">
       <ul>
           <li>
               <img src="/lib/img/icon_device.svg"/>
               <span>开放式传感设备</span>
               <p>
                   针对大宗商品提供专业的智能硬件设备,
                   输出标准的信息流,
                   并提供开放的硬件接入
               </p>

           </li>
           <li>
               <img src="/lib/img/icon_pass_service.svg"/>
               <span>PaaS服务支持</span>
               <p>
                   为开发者提供智能设备专业的开发平台,
                   提供设备接入,
                   设备数据解析,数据传输服务.
                   提供基于行业的位置,
                   设备状态,消息分发,图片,视频流等服务.
               </p>

           </li><li>
           <img src="/lib/img/icon-sass_service.svg"/>
           <span>SaaS服务提供</span>
           <p>
               提供专业的应用开发平台,
               借助现在应用管理模块,
               快速搭建属于自己的管理平台.
           </p>

       </li><li>
           <img src="/lib/img/icon_data_store.svg"/>
           <span>数据云存储</span>
           <p>
               依托物联网专业的时序数据库,
               提供海量数据的时候收集处理,
               提供数据可视化等服务.
           </p>

       </li>
       </ul>
    </div>
   </div>
    <div ng-show="nav_state.second">
        <link rel="import" href="/modules/partial/foot/foot.html?__inline"/>
    </div>
    <div style="clear: both"></div>
    <link rel="import" href="/modules/partial/foot/foot.html?__inline"/>
</div>
