<div  class="headerManage" ng-controller="headerManageCtrl">
    <div class="logo">
       <img src="/lib/img/logo200+80.svg"/>
    </div>
   <div class="head_content">
           <div class="content_icon">
               <span class="icon-icon_home"></span>
               <span class="head_page">首页</span>
           </div>
          <div class="conten_right">
                 <div class="user">
                     <span>DEVIC</span>
                 </div>
                 <div class="work">
                     <span class="icon-icon_worksheet"></span>
                     <span>工单</span>
                     <span class="work_count">2</span>
                 </div>
          </div>
   </div>
</div>