<div class="manageControll">
    <div class="user_detail">
      <div class="img_wrap">
        <img src="/lib/img/head.svg" class="user_img" />
        <div class="use_wrap">
            <span class="user_name">{{user_name}}</span>
            <img class="phone"  src="/lib/img/phone.svg"/>
            <span class="icon-icon_mail" ng-show="email_active==0"></span>
            <img class="mail_active" ng-show="email_active==1" src="/lib/img/mail.svg"/>
        </div>
          <div class="order_wrap">
              <span class="icon-icon_worksheet"></span>
              <a href="#myOrder">
               <p class="order_detail">
                  <span>工单</span>
                  <span class="count">（{{params.orderCount}}）</span>
               </p>
              </a>
          </div>
          <div class="interval_line"></div>
          <div class="order_wrap">
              <span class="icon-icon_mail"></span>
              <a href="#email">
                <p class="order_detail">
                  <span>站内信</span>
                  <span class="count">（{{params.emailCount}}）</span>
                </p>
              </a>
          </div>
      </div>
    </div>
    <div class="service_detail">
       <div class="service_name">
          <span>所有服务</span>
       </div>
        <div class="service_wrap">
            <div class="service_detail_single" ng-repeat="item in query_result">
               <span class="icon-icon_theme"></span>
                <div class="service_desc_wrap"  ng-click="go(item)">
                 <p class="service_desc">{{item.name}}</p>
                 <p class="service_desc_count">
                    <span>实例总数</span>
                    <span class="service_count">（{{item.total}}）</span>
                 </p>
                </div>
            </div>


            <div class="service_detail_single single_more">
                <span class="icon-icon_more"></span>
                <p class="service_desc wait">敬请期待</p>
                <p class="service_desc_count">
                    <span>更多服务</span>
                </p>
            </div>

        </div>

    </div>


    <div style="clear: both"></div>
</div>

